<head>
  <meta charset="UTF-8">

  <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  <script src="{{ '/assets/theme-init.js' | relative_url }}"></script>

  <!-- MathJax v2 is being used for now because v3 does not allow copy-pasting of math equations. -->
  <!--<script id="MathJax-v3-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>-->

  <script id="MathJax-v2-script" async src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS_CHTML"></script>

  {% seo %}
</head>
