<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper-main-content">
      <main>{{ content }}</main>
    </div>
    <div class="wrapper-footer">
      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
    <script src="{{ '/assets/theme-switch.js' | relative_url }}"></script>
  </body>
</html>

<style>
  .wrapper-footer {
    /* decrease margin-top if needed with negative number */
    margin-top: 0;
    /* auto width */
    display: flex;
  }
</style>
